section{
    overflow: auto;
}

h3{
    margin: .4rem 0 0 1ch;
    font-weight: 500;
}

span{
    width: 92%;
    display: flex;
    justify-content: space-between;
}

span > button {
    position: relative;
    top: 5px;
    margin: 0;
    padding: 0;

}

p{
    margin: 1rem 0 .2rem 3ch;
}

hr{
    width: 90%;
    margin: 0 .4rem;
    background-color: #130020;
    height: 1px;
    border: none;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

button{
    margin: 1rem .3rem .5rem 0;
}