*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #fef9f7;
  color: #172c66;
}

button{
  background: #f582ae;
  border: none;
  border-radius: 2px;
  padding: .2rem .4rem;
}

button:hover{
  box-shadow: 0 0 0 1px inset #f582ae;
  background: #f582ae88;
}